# Core API
fastapi
uvicorn[standard]
python-dotenv
python-multipart

# Validation / utils
pydantic
pydantic-settings
orjson
requests
httpx

# LangChain ecosystem 
langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph
langsmith
langchain-chroma

# Vector DB
chromadb

# LLM
langchain-groq

# File handling
pillow
pdfplumber
python-docx
fastembed